/* START input-text */
.text-input {
    display: block;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: solid 1px transparent;
    padding: 14px 16px;
    font-family: Gotham, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(38, 38, 38, 0.8);
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.text-input::placeholder {
    color: rgba(38, 38, 38, 0.4);
}

.text-input:focus {
    border-color: rgba(151, 151, 151, 0.25);
}

.text-input.text-input_invalid,
.text-input.text-input_invalid:focus {
    color: #ed4159;
    border-color: #ed4159;
}

.text-input.text-input_invalid::placeholder {
    color: rgba(237, 65, 89, 0.8);
}

/* END input-text */


/* START button */
.button {
    box-sizing: border-box;
    display: block;
    outline: none;
    border: 0;
    padding: 16px 32px;
    height: 48px;
    border-radius: 100px;
    box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
    background-color: #ed4159;
    text-align: center;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

.button:hover,
.button:focus {
    box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
    background-color: #ffffff;
    color: #ed4159;
}

.button:active {
    box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
    background-color: #ffffff;
    color: #ed4159;
}

.button.button_submit, .button.button_logout {
    width: max-content;
    min-width: 145px;
}
/* END button */