@import url('./reset.css');
@import url('./fonts.css');
@import url('./common.css');

* {
    font-family: "Gotham", sans-serif;
    box-sizing: border-box;
}

.wrapper {
    background-color: #ed4159;
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 43px;
    padding-bottom: 16px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .wrapper {
        background-image: url(../images/background@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding-top: 142px;
    }
}

.container {
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 37px;
}

.header .header__logo {
    display: block;
    width: 182px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .header .header__logo {
        width: 315px;
        height: auto;
    }
}

.login-form, .user-profile {
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 32px 24px;
}

.login-form .login-form__title {
    opacity: 0.8;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #262626;
}

.login-form .login-form__email {
    margin-top: 32px;
    width: 100%;
}

.login-form .login-form__password {
    margin-top: 24px;
    width: 100%;
}

.login-form .login-form__error {
    margin-top: 24px;
    border-radius: 4px;
    background-color: rgba(237, 65, 89, 0.25);
    font-size: 12px;
    font-weight: 500;
    color: #ed4159;
    padding: 14px;
}

@media screen and (min-width: 768px) {
    .login-form .login-form__title {
        font-size: 24px;
    }

    .login-form .login-form__email {
        margin-top: 48px;
    }

    .login-form .login-form__password {
        margin-top: 32px;
    }

    .login-form .login-form__error {
        margin-top: 32px;
        font-size: 14px;
        padding: 14px 16px;
    }
}

.user-profile .user-profile__avatar {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-profile .user-profile__name {
    opacity: 0.8;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #262626;
    display: block;
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .user-profile .user-profile__avatar {
        width: 128px;
        height: 128px;
    }

    .user-profile .user-profile__name {
        font-size: 28px;
        margin-top: 40px;
    }
}


.login-form .login-form__button, .user-profile .user-profile__button{
    margin: 40px auto 24px;
}

@media screen and (min-width: 768px) {
    .login-form .login-form__button {
        margin-top: 60px;
        margin-bottom: 12px;
    }

    .user-profile .user-profile__button {
        margin-top: 56px;
    }
}